// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #4F82BD;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-miniimage {
  background-color: $background-color;
  height: 70px;
  .bildlinks {
  }
  .bildrechts {
  margin: -26px -12px;
  
  }
}
